header{
    
    color: rgb(8, 46, 58);
    font: 1em sans-serif;
    background-color: rgba(203, 214, 223, 0.733);
}

article1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: burlywood;
}
.ID{
    margin-top: 2px;
    font-size: medium;
    font-style: oblique;
    font-family: fantasy;
    padding: auto 5%;
    
}
body{
    font: 1.2em "Fira Sans", sans-serif;
    background-color: rgb(25, 99, 102);
    text-align: center;
}
img{
    box-align: center;
    background-origin: padding-box;
    height: 400px;
}
footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.link{
    text-decoration: double;
    color: aliceblue;
}
.main-nft{
    margin: 40px 400px;
}

.nft{
    padding: 5%;
    margin-top: 6%;
    background-color: rgb(176, 180, 179);
    border-radius: 12%;
}

.comments{
    margin: auto 150px;
    background-color: rgb(179, 38, 92);
    border-radius: 25%;
}